@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  margin: 0 ;
  font-family: "Quicksand";
  font-size: large;
  color: #333;

}
body {
  padding-top: 100px;
}
/* navbar style */
.navbar {
  top: 0;
  align-items: center;
  border-bottom: 3px solid #f2f2f2;
  height: 20%;
  background-color: #fff;
}
.navbar .navbar-brand {
  margin: 0 40px;
  color: #f1356d;
  font-size: 50px;
}
.navbar .links ul{
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none !important;
  gap: 40px;
  margin: 0 40px;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #000;
}
.navbar a:hover {
  color: #f1356d;
}
.showLoginBtn {
  background: #f1356d;
  color: #fff;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}
.hideLoginBtn {
  display: none;
}
.nav-mob-open{
  display: none;
}
.nav-mob-close{
  display: none;
}

/* content style  */
.content {
  margin: 50px auto;
  padding: 20px;
  justify-content: center;
  text-align: center;
}
.new-blog {
margin: 20px auto;

}
.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  
}

.blog-preview {
  background-color: #ddd;
  margin-bottom: 10px;
  padding: 20px;
  border-bottom: 1px solid #f2f2f2;
  text-align: center;
  
}
.blog-card {
  position: relative;
}
.blog-date-time {
  position: absolute;
  top:0;
  left:0;
  font-weight: bold;
  margin: 5px 10px;
  padding: 5px;
  border-radius: 4px;
  /* background-color:rgba(141, 139, 139, 0.5); */
  color: #000;
  opacity: 0.5;
  
}
.blog-fulldate {
  margin-bottom: 0;
  margin-left: 5px;
}
.blog-time {
  margin-bottom: 0;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 1);
}
.blog-preview h3 {
  font-size: 20px;
  color: #f1356d;
  margin: 10px 8px;
}

.card-img{
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  object-fit: cover;
  padding: 20px;
  border-bottom: 1px solid #d6d5d5;
  border-width: 2px;
}
.blog-preview a {
  text-decoration: none;
}
.blog-preview button {
  margin-bottom: 30px;
  background:#000;
  color: #fff;
  text-decoration: none;
}

.blog-details h2{ 
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div{ 
  margin: 20px 0;
}
.blog-details .blog-body {
  margin: 30px 100px;
  padding: 10px 10px;
  justify-content: center;
  text-align: justify; 
  text-justify: inter-word;

}
.delete{ 
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.edit{ 
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  margin: 20px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
}
.not-found h2{
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.not-found p {
  margin-bottom: 20px;
}
/* handle login page */
.login {
  margin: 50px 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 5%;

}
.login form {
  width: 50%;
  height: 70vh;
  max-width: 400px;
  padding: 40px;
  background-color: #f7f7f7;    /* Example background color */
  border: 1px solid #ccc;       /* Example border */
  border-radius: 5px;           /* Example border radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example shadow */

}
.login h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.login input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.login button {
  background: #f1356d;
  color: #fff;
  border: 0;
  margin: 50px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
/* Registeration page */
.registeration {
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 5%;

}
.registeration form {
  width: 50%;
  min-height: 100vh;
  max-width: 400px;
  padding: 40px;
  background-color: #f7f7f7;    /* Example background color */
  border: 1px solid #ccc;       /* Example border */
  border-radius: 5px;           /* Example border radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example shadow */

}
.registeration h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.registeration input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.registeration button {
  background: #f1356d;
  color: #fff;
  border: 0;
  margin: 50px;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
/* update page */
.update {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.update label {
  text-align: left;
  display: block;
}
.update h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.update input, .update textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.update button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  text-align: center;
  margin-top: 10px;
}
.authors button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.read-more {
  border: none;
  font-weight: bold;
  background: none;
}
/* form style */
.vh-100{
  background-color: #508bfc;
}
.card shadow-2-strong {
  border-radius: 1rem;
}
.card-body p-5 text-center {
  height: 10px;
}
.btn btn-lg btn-block btn-primary {
  background-color: #dd4b39;
}
.btn btn-lg btn-block btn-primary mb-2 {
  background-color: #3b5998;
}
/* profile page style */
.user-profile-card{
  width: 350 px;
  margin: 20px;
  border-radius: 4px;
  padding-bottom: 20px;
  background: white;
}
.gradiant{
  background-image: linear-gradient(#f1c7b9, #ee7d6e);
  height: 125px;
  border-radius: 4px 4px 0px 0px;
}
.profile-down img{
  height: 150px;
  border-radius: 100px;
  margin-top: -75px;
  padding: 5px;
  background: white;
}
.profile-title {
  font-size: 36px;
  font-weight: 600;
}
.profile-button {
  background-color: transparent;
  border:none;
  color: #0000FF;
  border-bottom: 1px solid #0000FF;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .navbar{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .navbar .links ul{
    margin: 0;
  }
  .nav-mob-open{
    display: block;
    position: fixed;
    right: 30px;
  }
  .nav-mob-close{
    display: block;
    position: relative;
    top: 30px;
    left: 100px;
    width: 30px;
  }

  .navbar-menu{
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0;
    background: #f1356d;
    color: white;
    width: 350px;
    height: 70%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
  }
  .navbar-menu li{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .navbar-menu button{
    margin: 10px 0px 0px 16px;
  }
  .nav-username {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-username button{ 
    margin: 0 20px;
    height: 50%;
    width: 100%;
    display: block;
    font-size: 16px;
  }
  .links ul li a{ 
    color: #fff;
  }
  .navbar .links ul{
    justify-content: start;
    gap:2px;
  }
  /* content style */
  .content {
    margin: 30px auto;
    padding: 15px;
  }

  .new-blog {
    margin: 15px auto;
  }

  .blog-grid {
    grid-template-columns: repeat(2,1fr);
    gap: 10;
  }

  .card-img {
    height: 100%;
    width: 100%;
  }
  .login form{
    width: 100%;
    height: 100%;
  }
  .blog-body{
    align-items: start;
  }
  .update h2{
    font-size: 20px;
  }
  .update label{
    font-size: 16px;
  }
  .update input, .update textarea{
    font-size: 16px;
  }
  .update button{
    font-size: 16px;
  }
  .create h2{
    font-size: 20px;
  }
  .create label{
    font-size: 16px;
  }
  .create input, .update textarea{
    font-size: 16px;
  }
  .create button{
    font-size: 16px;
  }
}
/* .dashboard .table td:first-child {
  text-align: left;
  margin-left: 50px;
}
.dashboard thead {
  font-weight: bold;
}
.dashboard .blog-title {
  color: #000;
  text-decoration: none;
  }
 
  .blog-grid {
    grid-template-columns: repeat(2, 1fr);
  } */


@media (max-width: 425px) {
  .nav{
    display: flex;
    flex-direction: column;
  }

  .navbar .navbar-brand{
    font-size: 20px;
  }
  .navbar img{
    width: 30px;

  }
  .nav-username {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar-menu{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 50%;
  }
  .navbar-menu a{
    font-size: 12px;
  }
  .navbar-menu button{
    font-size: 12px;
  }
  .nav-username button{ 
    margin: 0 20px;
    height: 50%;
    width: 100%;
    display: block;
    font-size: 12px;
  }
  .dropdown-item a{
    font-size: 12px;
  }
  .blog-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .login{
    margin: 50px 0;
    font-size: 12px;
  }
  .login form{
    padding: 6px 5px;
  }
  .login h2{
    font-size: 18px;
  }
  .login form input{
    width: 100%;
    font-size: 12px;
  }
  .login button{
    text-align: center;
  }
  .registeration{
    margin: 50px 0;
    font-size: 12px;
  }
  .registeration form{
    padding: 6px 5px;
  }
  .registeration h2{
    font-size: 18px;
  }
  .registeration form input{
    width: 100%;
    font-size: 12px;
  }
  .registeration button{
    text-align: center;
  }
  .blog-details img{
    height: 100%;
    width: 100%;
  }
  .blog-details .blog-body {
    margin: 30px 10px;
    padding: 10px 10px;
    font-size: 12px;
    justify-content: start;
    text-align: justify; 
    text-justify: inter-word;
  
  }
  .blog-body h1{
    font-size: 18px;
  }
  .edit, .delete{
    width: 50px;
    font-size: 10px;
    justify-content: start;
  }
  .update h2{
    font-size: 18px;
  }
  .update label{
    font-size: 14px;
  }
  .update input, .update textarea{
    font-size: 14px;
  }
  .update button{
    font-size: 14px;
  }
  .craete h2{
    font-size: 18px;
  }
  .craete label{
    font-size: 14px;
  }
  .craete input, .update textarea{
    font-size: 14px;
  }
  .craete button{
    font-size: 14px;
  }
  .profile-title{
    font-size: 18px;
  }
  .profile-description{
    font-size: 14px;
  }
  .profile-link a{
    font-size: 14px;
  }
  .profile-button{
    font-size: 14px;
  }
  .dashboard-notfound{
    font-size: 14px;
  }
  .dashboard .table-header tr td{
    font-size: 14px;
    font-weight: 600;
  }
  .dashboard a{
    font-size: 14px;
  }
  .dashboard .table-body tr td{
    font-size: 14px;
  }
  .blog-action{
    display: inline-block;
  }
}